/* heading styles */
.jumbotron {
  padding-bottom: 30px;
}

/* Styles for cards displaying suggested drinks */

.card {
  display: inline-flex;
  margin: 10px;
}

/* Styles for showing the drinks to choose from */

.list-group {
  margin-top: 20px;
}

.drinks-selected li:last-child {
  margin-bottom: 20px;
}

.list-group-item a {
  float: right;
}

/* Clear Button Styles */
#clearButton {
  margin-top: 15px;
}

/* Ingredients Paragraph */
#ingredients {
  display: none;
}

/* Upload file div */
.upload-file {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Download file div */
.download-file {
  margin-bottom: 25px;
}

.disabled {
  cursor: not-allowed;
}

/* Tests Div */
.tests-div {
  margin-top: 15px;
}

/* drink responsibly paragraph */
.drink-responsibly {
  font-weight: bold;
  margin-top: 10px;
}
